# file generated 2022-07-25 - see update-dependencies.sh
astroid==2.3.3
attrs==21.4.0
boto3==1.24.36
botocore==1.27.36
coverage==5.5
isort==4.3.21
jmespath==1.0.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.13.0
packaging==21.3
pluggy==0.13.1
py==1.11.0
pylint==2.4.4
pyparsing==3.0.9
pytest==5.3.5
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.10
wcwidth==0.2.5
wrapt==1.11.2
